<h1>{{ bookForm.get('name').value ? 'Edit' : 'Add' }} Book - {{ bookForm.get('name').value ? bookForm.get('name').value : 'New Book' }}</h1>

<form [formGroup]="bookForm" (ngSubmit)="saveBook()">
  <!-- Book Name -->
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Book Name" formControlName="name" required>
    <div *ngIf="bookForm.get('name').invalid && bookForm.get('name').touched" class="text-danger">
      <div *ngIf="bookForm.get('name').errors?.required">Name is required.</div>
      <div *ngIf="bookForm.get('name').errors?.minlength">Name must be at least 2 characters long.</div>
      <div *ngIf="bookForm.get('name').errors?.maxlength">Name cannot be more than 100 characters long.</div>
    </div>
  </div>

  <!-- Author -->
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" placeholder="Author" formControlName="author" required>
    <div *ngIf="bookForm.get('author').invalid && bookForm.get('author').touched" class="text-danger">
      <div *ngIf="bookForm.get('author').errors?.required">Author is required.</div>
      <div *ngIf="bookForm.get('author').errors?.minlength">Author must be at least 2 characters long.</div>
      <div *ngIf="bookForm.get('author').errors?.maxlength">Author cannot be more than 100 characters long.</div>
    </div>
  </div>

  <!-- Price -->
  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" class="form-control" id="price" placeholder="Price" formControlName="price" required>
    <div *ngIf="bookForm.get('price').invalid && bookForm.get('price').touched" class="text-danger">
      <div *ngIf="bookForm.get('price').errors?.required">Price is required.</div>
      <div *ngIf="bookForm.get('price').errors?.pattern">Price must be a number.</div>
    </div>
  </div>

  <!-- Image Upload -->
  <div class="form-group">
    <label for="imageFile">Upload Image</label>
    <input type="file" id="imageFile" (change)="onFileChanged($event)" class="form-control-file">
    <!-- Preview the newly selected image -->
    <img [src]="imgURL" *ngIf="imgURL" style="width: 100px;" class="mt-2">
  </div>

  <!-- Display Existing Image -->
  <div *ngIf="existingImageURL" class="form-group">
    <label>Current Image</label>
    <img [src]="existingImageURL" height="200" width="200" class="mt-2">
  </div>

  <br>
  <button type="submit" class="btn btn-success" [disabled]="bookForm.invalid">Save Book</button>
</form>
