<h1>Add User</h1>
<form novalidate [formGroup]="ngForm" (ngSubmit)="addUser()">

  <!-- Campo per il nome -->
  <label for="name">Name</label>
  <input type="text" id="name" class="form-control"
         formControlName="name"
         [ngClass]="{'is-valid': name.valid && (name.dirty || name.touched), 
                     'is-invalid': !name.valid && (name.dirty || name.touched)}">

  <div *ngIf="!name.valid && (name.dirty || name.touched)" class="error">
    <div *ngIf="name.errors?.required">Name is required</div>
    <div *ngIf="name.errors?.minlength">Name Minimum Length is {{ name.errors.minlength.requiredLength }}</div>
    <div *ngIf="name.errors?.maxlength">Name Maximum Length is {{ name.errors.maxlength.requiredLength }}</div>
  </div>

  <!-- Campo per il tipo -->
  <label for="type">Type</label>
  <select class="form-control"
          id="type"
          formControlName="type"
          [ngClass]="{'is-valid': type.valid && (type.dirty || type.touched), 
                      'is-invalid': !type.valid && (type.dirty || type.touched)}">
    <option value="" disabled>Select designation</option>
    <option *ngFor="let designation of userProfiles" [value]="designation.cod">
      {{ designation.nameCod }}
    </option>
  </select>
  <div *ngIf="!type.valid && (type.dirty || type.touched)" class="error">
    <p *ngIf="type.errors?.required">Designation is required</p>
  </div>

  <!-- Campo per la password -->
<label for="password">Password</label>
<div class="password-container" style="position: relative; width: 100%;">
  <input [type]="hidePassword ? 'password' : 'text'" id="password" class="form-control"
         formControlName="password"
         [ngClass]="{'is-valid': password.valid && (password.dirty || password.touched), 
                     'is-invalid': !password.valid && (password.dirty || password.touched)}"
         style="padding-right: 30px;">
  <button type="button" class="password-toggle" (click)="togglePasswordVisibility()"
          style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); border: none; background: none; cursor: pointer;">
    <i [class]="hidePassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
  </button>
</div>
<div *ngIf="!password.valid && (password.dirty || password.touched)" class="error">
  <div *ngIf="password.errors?.required">Password is required</div>
  <div *ngIf="password.errors?.minlength">Password Minimum Length is {{ password.errors.minlength.requiredLength }}</div>
</div>


  <!-- Pulsante di salvataggio -->
  <br>
  <button type="submit" class="btn btn-success" [disabled]="!ngForm.valid">Save</button>
</form>
